@mixin dFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

section {
  margin: 10rem 2rem;
  @include dFlex(center, center);
  flex-direction: column;

  > h1 {
    color: #89bcd9;
    margin-bottom: 10rem;
  }
}

div {
  gap: 5rem;
  @include dFlex(center, start);
  width: 100%;

  > span {
    font-family: 'Josefin Sans';
    font-size: 1.8rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;
    
    >button, a{
      margin-top: 2rem;
    }

    > img {
      margin-top: 2.5rem;
    }
  }
}
