<section>
  <h1>why me </h1>
  <div>
    <img src="/images/sections/whyMe/location default.png" alt="">
    <span>
      icon apper
      Add typing effect for the text on the right side of the icon
      To switch to the next icon:
      Add deleting effect for the text, like removeing letter by letter
      Affter the letters are gone the icon disapear
      Then repeat from the beginning
      <img class="talkButton" src="/images/sections/whyMe/buttonDefault.png" alt="">
    </span>
  </div>
</section>