@import "./../../mixins.scss";

section {
  margin: 10rem 0rem;
  @include dFlex(center, center);
  flex-direction: column;

  > div {
    @include dFlex(center, center);
    flex-wrap: nowrap;

    gap: 10rem;
    width: 100%;
    margin-top: 5rem;
    flex-wrap: wrap;
  }
}

h1 {
  font-size: 3.6rem;
}
