<section>
  <div class="headlineArea">
  <h1>{{ 'feedback.titel' | translate }}</h1>
  </div>
  <div class="container">
    <!--     @for (item of feedbackItems; track $index) {
      <app-input-box [inputBoxData]="item"></app-input-box>
    } -->


    <div class="content">
      <h3>{{ 'feedback.feedback1.userName' | translate }}</h3>
      <div class="projectName">
        {{ 'feedback.feedback1.project' | translate }}
        <span>{{ 'feedback.feedback1.projectName' | translate }} </span>
      </div>
      <p>{{ 'feedback.feedback1.text' | translate }}</p>
      <!--   @for (projectLink of inputBoxData.link; track $index) {
 --> <a href="">{{ 'feedback.linkText' | translate }}</a>
      <!--   }
 -->
    </div>
    <div class="content">
      <h3>{{ 'feedback.feedback2.userName' | translate }}</h3>
      <div class="projectName">
        {{ 'feedback.feedback1.project' | translate }}
        <span>{{ 'feedback.feedback2.projectName' | translate }} </span>
      </div>
      <p>{{ 'feedback.feedback2.text' | translate }}</p>
      <!--   @for (projectLink of inputBoxData.link; track $index) {
 --> <a href="">{{ 'feedback.linkText' | translate }}</a>
      <!--   }
 -->
    </div>
    <div class="content">
      <h3>{{ 'feedback.feedback3.userName' | translate }}</h3>
      <div class="projectName">
        {{ 'feedback.feedback1.project' | translate }}
        <span>{{ 'feedback.feedback3.projectName' | translate }} </span>
      </div>
      <p>{{ 'feedback.feedback1.text' | translate }}</p>
      <!--   @for (projectLink of inputBoxData.link; track $index) {
 --> <a href="">{{ 'feedback.linkText' | translate }}</a>
      <!--   }
 -->
    </div>

  </div>
</section>