<section>
  <h1>Contact me</h1>
  <div class="input">
    <div class="text">
      <span>
        Encourage people to contact you and describe what role you are interested in. Show that you will add value to
        their projects through your work.
        Example: Feel free to get in touch with job offers or opportunities such as: ...
      </span>
      <div class="contactInfo">
        <div class="mail">MAIL: SIUSNAROS&#64;test.de</div>
        <div class="tel">TEL: 493284012384</div>
      </div>
    </div>
    <div class="formularInput">
      <div class="yourName">
        <span> Your name </span>
        <input type="text" />
      </div>
      <div class="yourName">
        <span> Your name </span>
        <input type="text" />
      </div>
    </div>
  </div>
  <div class="messageInput">
    <span> Your message </span>
    <input type="text" />
    <span>I've read the privacy policy and agree to the processing of my data as outlined.</span>
  </div>
</section>