@import "../../mixins.scss";

section {
  @include dFlex(center, center);
  flex-direction: column;
  margin:  10rem 0rem;

  > .input {
    @include dFlex(space-evenly, normal);
    flex-direction: column;
    margin-top: 5rem; 
    > .text {
      @include dFlex(center, start);
      > span {
        width: 44.5rem;
      }
            > .contactInfo {
        @include dFlex(center, start);
        flex-direction: column;
        width: 44.5rem;
      }
    }
  }
}

.formularInput {
  @include dFlex(start, center);
}

.messageInput {
  @include dFlex(start, start);
  flex-direction: column;

  > input {
    width: 91.1rem;
    height: 14.6rem;
  }
}

.yourName {
  margin-top: 4rem;
  @include dFlex(center, start);
  flex-direction: column;
}

input {
  background-color: #262E34;
  width: 44.5rem;
  height: 6rem;
  border-radius: 3rem;
  border-color: #89bcd9;
  margin-bottom: 2rem;
}
