@import "../../mixins.scss";

section {
  @include dFlex(center, center);
  flex-direction: column;
  margin: 10rem 0rem;

  > span {
    width: 44.5rem;
  }
}

.input {
  @include dFlex(normal, normal);
  margin-top: 5rem;
  width: 100%;
}
.formularInput {
  @include dFlex(start, center);
  width: 100%;
  gap: 6rem;
}

.messageInput {
  @include dFlex(start, start);
  flex-direction: column;

  > .messageField {
    width: 91.1rem;
    height: 14.6rem;
    background-color: #262e34;
    border: solid 0.1rem #89bcd9;
    border-radius: 3rem;
    margin-bottom: 2rem;
  }
}

.yourName {
  margin-top: 4rem;
  @include dFlex(center, start);
  flex-direction: column;
}

.textField {
  @include dFlex(center, start);
  background-color: #262e34;
  width: 40rem;
  height: 6rem;
  border: solid 0.1rem #89bcd9;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

span {
  color: #89bcd9;
  padding-left: 2rem;
  font-family: "Josefin Sans";
  padding-bottom: 0.5rem;
}

p {
  font-family: "Josefin Sans";
}

div {
  font-family: "Josefin Sans";
}

#content {
  @include dFlex(center, center);
  flex-direction: column;
}

.text {
  @include dFlex(center, start);
  flex-direction: column;
  width: 50%;
  > p {
    width: 44rem;
  }
}

.contactInfo {
  @include dFlex(start, start);
  flex-direction: column;
  width: 44.5rem;
  gap: 1.5rem;
  > .contactInfoInput {
    @include dFlex(start, start);
    align-items: center;
    gap: 1.5rem;
  }
}

.checkArea {
  @include dFlex(start, start);
  align-items: center;
  .checkBox {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url("/images/sections/contactMe/defaultElipse.png")
      center/contain no-repeat;
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      background-image: url("/images/sections/contactMe/checkElipse.png");
    }

    &:checked {
      background-image: url("/images/sections/contactMe/checkedElipse.png");
    }
  }
}

input{
  font-size: 1.8rem;
  text-align: start;
  text-indent: 2rem;
  vertical-align: top; 
}