<section>
    <img src="/images/sections/navBar/logoDarkDefault.png" alt="">
    <nav>
        <a href=""><img src="/images/sections/navBar/wmButtonDefault.png" alt=""></a>
        <a href=""><img src="/images/sections/navBar/skillsButtonDefault.png" alt=""></a>
        <a href=""><img src="/images/sections/navBar/pjButtonDefault.png" alt=""></a>
        <a href=""><img src="/images/sections/navBar/contactButtonDefault.png" alt=""></a>
    </nav>
<img src="/images/sections/navBar/changeLanguageDEactive.png" alt="">
</section>