<header>
    <div class="content">
        <img [src]="headerData.logo.path" [alt]="headerData.logo.alt">
        <nav>
            @for (links of headerData.links; track $index) {
                <a [href]="links.url">{{links.text}}</a>
            }
        </nav>
        <div class="languageSelect">
            @for (language of headerData.languageOptions; track $index) {
            <button [class.active]="activeLanguage === language.code" (click)="changeLanguage(language.lang)">
                {{language.code}}
            </button>
            }
        </div>
    </div>
</header>