<header>
  <div class="content">

    <a href="#hero">
    <img [src]="headerData.logo.path" [alt]="headerData.logo.alt">

    </a>

    <nav>
      @for (link of headerData.links; track $index) {
        <a [href]="link.url"       [class.active]="activeLink === link.url"
      (click)="setActiveLink(link.url)">
          {{ 'header.navLinks.' + link.text.toLowerCase().replace(' ', '') | translate }}
        </a>
      }
    </nav>
    <div class="languageSelect">
      @for (language of headerData.languageOptions; track $index) {
        <button [class.active]="activeLanguage === language.lang" (click)="changeLanguage(language.lang)">
          {{language.code}}
        </button>
      }
    </div>
  </div>
</header>