<section>
  <div class="devPicture">
    <img src="/images/sections/hero/bgShapeDefault.png" alt="image-background-shape">
  </div>
  <div class="heroInput">
    <div class="logosContainer">
      <img class="logo" src="/images/ui/logo/logoDefault.png" alt="">
    </div>
    <h1>Burak Bostanli</h1>
    <h2>FRONTEND DEVELOPER</h2>
    <img class="arrowDownDefault" src="/images/ui/arrow/arrowDownDefault.png" alt="">
  </div>
      <div class="socials">
        <img src="/images/socials/mail/mailDefault.png" alt="mail-default-logo">
        <img src="/images/socials/github/githubDefault.png" alt="github-default-logo">
        <img src="/images/socials/linkedin/linkedinDefault.png" alt="">
      </div>
</section>