<section>
  <div id="content">
  <div class="devPicture">
    <img [src]="heroData.images.bgShape.path" [alt]="heroData.images.bgShape.path">

  </div>
  <div class="heroInput">
    <div class="logosContainer">
      <img class="logo" [src]="heroData.images.logo.path" [alt]="heroData.images.logo.alt">
      <div class="socials">
        @for (icon of heroData.socials; track $index) {
        <img [src]="icon.icon" [alt]="icon.alt">
        }
      </div>
    </div>
    <h1>{{ heroData.text.name }}</h1>
    <h2>{{ heroData.text.title }}</h2>
    <img class="arrowDownDefault" [src]="heroData.images.arrowDown.path" [alt]="heroData.images.arrowDown.alt">
  </div>
  </div>
</section>