@mixin dFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

section {
  margin: 0rem 10rem;
  @include dFlex(space-between, center);
  height: 100vh;
}

.heroInput {
  @include dFlex(center, center);
  flex-direction: column;

.arrowDownDefault {
    padding-top: 17rem;
  }
}

.logosContainer {
  padding-bottom: 5rem;
  width: 50rem;
  flex-direction: row;
  @include dFlex(space-evenly, center);
}
.socials {
  height: 10rem;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.logo {
  height: 7rem;
  width: 7rem;
}