<section>
  <div id="content">
  <div class="devPicture">
    <img id="profilePhoto" src="/images/profile/profilePhoto.png" alt="">
  </div>
  <div class="heroInput">
    <div class="logosContainer">
      <img class="logo" [src]="heroData.images.logo.path" [alt]="heroData.images.logo.alt">
      <div class="socials">
        @for (icon of heroData.socials; track $index) {
        <div  [class]="icon.alt"> </div>
        }
      </div>
    </div>
    <h1>{{ heroData.text.name }}</h1>
    <h2>{{ heroData.text.title }}</h2>
    <img class="arrowDownDefault" [src]="heroData.images.arrowDown.path" [alt]="heroData.images.arrowDown.alt">
  </div>
  </div>
</section>