@import "../../mixins.scss";

section {
  @include dFlex(center, normal);
  flex-direction: column;

  > h1 {
    color: #89bcd9;
    margin-bottom: 10rem;
    @include dFlex(center, center);
  }
}

.container {
  @include dFlex(space-evenly, start);
  padding: 3rem 0rem;
  flex-wrap: wrap;
  background-color: #2d383f;
}

.projectInput {
  @include dFlex(normal, center);
  flex-direction: column;
  font-size: 1.8rem;
  > p {
    font-family: "Josefin Sans";
    margin-left: 5rem;
    width: 68rem;
  }
}

.bulletPoints {
  @include dFlex(start, center);
  gap: 2rem;
  padding: 2.5rem 0rem;
  width: 100%;
  > h3 {
    font-size: 2.8rem;
    font-family: "Josefin Sans";
    font-weight: 400;
  }
}

.navBar {
  flex-wrap: wrap;
  @include dFlex(start, center);
  gap: 5rem;
  padding-left: 12rem;
  height: 9rem;

  > span {
    @include dFlex(center, center);
    width: 24.8rem;
    height: 10rem;
    font-size: 3rem;
    text-align: center;
    &.active {
      background-color: #2d383f;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
  }
}

.projectContainer {
  @include dFlex(center, center);
  flex-direction: column;
  > span {
    font-size: 1.8rem;
  }
}

.projectPictures {
  @include dFlex(center, center);
  width: 45rem;
  height: 31rem;
  > img {
    width: 100%;
    object-fit: cover;
    object-position: right;
    height: 31rem;
    border-radius: 2rem;
  }
}

.buttonArea {
  @include dFlex(space-between, center);
  padding: 3rem;
  width: 30rem;
}

.icons {
  @include dFlex(space-between, center);
  padding: 1rem;
  gap: 2rem;
  > img {
    height: 3.6rem;
  }
}

span {
  font-family: "Josefin Sans";
}
