<section>
  <h1>My Projects</h1>
  <div class="navBar">
    <span>1. DA Bubble</span>
    <span>1. DA Bubble</span>
    <span>1. DA Bubble</span>
  </div>
  <div class="container">
    <div class="projectInput">
      <div class="bulletPoints">
        <img src="/images/sections/myProjects/elipse.png" alt="">
        <h3>About the project</h3>
        <span>Duration: 3 weeks</span>
      </div>
      This App is a Slack Clone App.
      It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and
      robust channel organization.
      <div class="bulletPoints">
        <img src="/images/sections/myProjects/elipse.png" alt="">
        <h3>About the project</h3>
      </div>
      This App is a Slack Clone App.
      It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and
      robust channel organization.
      <div class="bulletPoints">
        <img src="/images/sections/myProjects/elipse.png" alt="">
        <h3>About the project</h3>
      </div>
      This App is a Slack Clone App.
      It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and
      robust channel organization.

    </div>


    <div class="projectContainer">
      <span>Technologies</span>
      <div class="icons">
        <img src="/images/sections/mySkills/angularDefault.png" alt="">
        <img src="/images/sections/mySkills/tsDefault.png" alt="">
        <img src="/images/sections/mySkills/cssDefault.png" alt="">
      </div>
      <div class="projectPictures">
        project photo
      </div>
      <div class="buttonArea">
      <img class="talkButton" src="/images/sections/whyMe/buttonDefault.png" alt="">
      <img class="talkButton" src="/images/sections/whyMe/buttonDefault.png" alt="">
      </div>
    </div>
  </div>

</section>