@import "./../../../app/mixins";

section {
  margin: 10rem 2rem;
  @include dFlex(center, center);
  flex-direction: column;

  > h1 {
    color: #89bcd9;
    margin-bottom: 10rem;
  }
}

.main {
  @include dFlex(space-evenly, start);
  width: 75%;
}

span {
  color: #89bcd9;
  text-align: center;
  font-size: 1.8rem;
  gap: 1rem;
  flex-direction: column;
  @include dFlex(start, center);
  flex-direction: column;
  >img{
    height: 6rem;
    width: 6rem;
  }
}

.textBg {
  position: absolute;
}

.icons {
  @include dFlex(center, center);
  flex-wrap: wrap;
  width: 50rem;
  gap: 5rem;
}
