/* anta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/anta-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/josefin-sans-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {

  color: #F8F6EC;
  margin: 0;
  font-size: 10px;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth; 
  font-family: 'Anta';
  list-style: none;
}


@import './app/mixins'; // why is it not working globaly? 

body{
  background-color: #262E34;
}

h1{
  font-size: 6.4rem;
  color: #89bcd9;
  font-weight: 400;
}

h2{
  font-size: 3.6rem;
}


div {
  font-size: 1.8rem;
}

p{
  font-size: 1.8rem;
}

header{
  z-index: 5;
}

section {
  scroll-margin-top: 9rem;     // Für alle <section>-Elemente
  scroll-margin-bottom: 21.4rem;
}

button{
  font-family: 'Josefin Sans';
  font-size: 1.8rem;
  background: none;
  width: 13.2rem;
  height: 4.8rem;
  border-radius: 3rem;
  color: #89bcd9;
  border: solid 0.1rem #89bcd9;
  transition: background-color 0.17s ease-in-out; 

  &:hover{
    cursor: pointer;
    background-color: #89bcd92d;
  };
  
}

    a {
      font-family: "Josefin Sans";
      color: #89bcd9;
      font-size: 1.4rem;
      transition: color 0.17s ease-in-out; 

      &:hover {
        color: F8F6EC;
      }
    }

