* {
  color: #F8F6EC;
  margin: 0;
  font-size: 10px;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}


@mixin dFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@import './app/mixins';

body{
  background-color: #262E34;
}

h1{
  font-size: 6.4rem;
}

h2{
  font-size: 3.6rem;
}