* {
  color: #F8F6EC;
  margin: 0;
  font-size: 10px;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

@import './app/mixins'; // why is it not working globaly? 

body{
  background-color: #262E34;
}

h1{
  font-size: 6.4rem;
}

h2{
  font-size: 3.6rem;
}


div {
  font-size: 1.8rem;
}

p{
  font-size: 1.8rem;
}