@import "./../../mixins.scss";
section {
  margin: 10rem 2rem;
  @include dFlex(center, center);
  flex-direction: column;
}

div {
  font-family: "Josefin Sans";
  font-weight: 200;
  text-align: center;
  font-size: 1.8rem;
  width: 30rem;
  flex-direction: column;
  @include dFlex(center, center);

  > h3 {
    font-size: 2.6rem;
    font-family: "Josefin Sans";
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  > .title {
    font-size: 1.8rem;
    font-family: "Josefin Sans";
    @include dFlex(center, center);
    flex-direction: column;
  }

  > span {
    font-size: 1.8rem;
    font-family: "Josefin Sans";
    @include dFlex(center, center);
    flex-direction: column;
    gap: 1rem;

    > img {
      width: 3.2rem;
    }
  }
}

.icons {
  @include dFlex(center, center);
  flex-direction: row;
  gap: 2rem;
  margin: 1rem 0rem;

  > span {
    font-size: 1.3rem;
  }
}

.iconImage {
  width: 4rem;
}

.textBg {
  position: absolute;
}

a {
  z-index: 1;
  cursor: pointer;
  margin-top: 4rem;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  text-decoration: underline;
  color: #89bcd9;
}

.currentlyLearning{
  margin: 1rem 0rem;
}