<div>
  @for (userName of inputBoxData.userNames; track $index) {
  <h3>{{userName.name}}</h3>
  }
  <span class="title">{{inputBoxData.subject}}</span>
  @for (projectName of inputBoxData.projects; track $index) {
  <span class="title">Project {{projectName.name}}</span>
  }
  <div class="icons">
    @for (item of inputBoxData.learning; track $index) {
    <span class="currentlyLearning">
      <img class="iconImage" [src]="item.iconPath" alt="">
      {{item.language}}
    </span>
    }
  </div>
  <span>
    {{inputBoxData.inputText}}
    @for (feedback of inputBoxData.feedBackText; track $index) {
    {{ feedback.text }}
    } </span>
  <!--   @for (projectLink of inputBoxData.link; track $index) {
 --> <a href="">Linked in Profile</a>
  <!--   }
 
 -->
  <img class="textBg" [src]="inputBoxData.backgroundImage.path" alt="">
</div>