@import "../../mixins.scss";

footer {
  width: 100%;
  background-color: #89bcd9;

  > .content {
    @include dFlex(space-evenly, center);
    height: 15rem;
    > .legalNotice {
      color: black;
    }
  }
}
